<!-- <div class="row">

    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avatar">
                    <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
                        alt="user" class="user-image">
                </div>
                <form (submit)="connect()">
                    <div class="form-group">
                        <label for="name">Name : </label>
                        <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="name">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone : </label>
                        <input type="text" name="phone" class="form-control" placeholder="Phone" [(ngModel)]="phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="email">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-my" value="Sign Up">
                    </div>
                    <div class="text-center login">
                        Already have an account ? <a routerLink="/login">Login</a> hera.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  -->

<div id="fb-root"></div>
<div class="fb-page" data-href="https://www.facebook.com/YourPage" data-tabs="tabs-to-display" data-width="500"
    data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
    data-show-facepile="true">
    <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/YourPage"><a href="https://www.facebook.com/YourPage">Your Page
                Name</a></blockquote>
    </div>
</div>
<form (submit)="LoginWithApp()">
    This is two way bind value-----{{appId}}
    <input type="text" name="appId" [(ngModel)]="appId">
    <button class="btn btn-warning">Attach App</button>
</form>
<button class="btn btn-success" (click)="loginWithFacebook()">Login with Facebook</button>
<a href="https://accounts.google.com/o/oauth2/v2/auth?
scope=https%3A//www.googleapis.com/auth/drive.metadata.readonly&
include_granted_scopes=true&
response_type=token&
state=state_parameter_passthrough_value&
redirect_uri=https%3A//locahost:4200&
client_id=867983649889-mu8n73d0clq5qvan437dmop87a9ofhot.apps.googleusercontent.com">Google</a>